<div class="card-container">
		<h2 class="date"><!--DATE--></h2>
		<div class="flex-box">
			<div class="phases sun">
				<div>
					<!--WEATHER_IMAGE-->
					<p><!--WEATHER_DESCRIPTION--></p>
					<table>
						<caption>Sun</caption>
						<tbody>
							<tr>
								<th>Rise</th>
								<th>Set</th>
							</tr>
							<tr>
								<td><!--SUNRISE--></td>
								<td><!--SUNSET--></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div> 
			<div class="tides">
					<table>
						<tbody>
							<caption>High Tides</caption>
							<tr>
								<td><!--HIGHTIDE_AM--></td>
								<td><!--HIGHTIDE_PM--></td>
							</tr>
						</tbody>
					</table>
				<div class="waves">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,256L21.8,224C43.6,192,87,128,131,122.7C174.5,117,218,171,262,192C305.5,213,349,203,393,192C436.4,181,480,171,524,144C567.3,117,611,75,655,80C698.2,85,742,139,785,149.3C829.1,160,873,128,916,112C960,96,1004,96,1047,112C1090.9,128,1135,160,1178,154.7C1221.8,149,1265,107,1309,90.7C1352.7,75,1396,85,1418,90.7L1440,96L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
				</div>
			</div>
			<div class="phases moon">
				<div>
					<img src="<!--MOON_IMAGE_URL-->" width="32" height="32" alt="moonphase"/>
					<p><!--MOON_PHASE--></p>
					<table>
						<caption>Moon</caption>
						<tbody>
							<tr>
								<th>Rise</th>
								<th>Set</th>
							</tr>
							<tr>
								<td><!--MOONRISE--></td>
								<td><!--MOONSET--></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>