/**** main tide table styles ***/
.card-container {
    width:98%;
    margin:0 auto 1rem 0;
    font-size:1rem;
    border: solid 3px #7a9fbf;
    border-radius: 10px 10px 0 0;
    border-collapse: collapse;
}

div.flex-box {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;

}

.flex-box div {
    text-align:center;
}

.phases {
    flex-basis:25%;
    background-color:#f2f2f2;
}

.phases h3 {
    margin:.5rem 0 1.2rem 0;
}

.sun {
    border-right: solid 1px #ccc;
    background-color:#f6e9bc;
    padding:15px 15px 0 15px;
}

.moon {
    border-left: solid 1px #ccc;
    padding:15px 15px 0 15px;
}

.tides {
    flex-basis:50%;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.waves {
    margin:0;
    padding:0;
    background-color:#7a9fbf;
}


.tides td {
    font-weight: bold;
    font-size:2rem;
}

.tides caption {
    font-weight: bold;
    font-size: 1.8rem;
    border-bottom: solid 1px #ccc;
    margin:15px;
}

.tides th {
    font-weight: bold;
    font-size:1.6rem;
}

.date {
    font-size:2rem;
    text-align:center;
    margin:0;
    padding:1rem 0 1rem 0;
    background-color:#7a9fbf;
    color:#000;
    border-bottom: solid 5px #7a9fbf;
    border-radius: 7px 7px 0 0;
}

table{
    width:100%;
}

caption {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom:1rem;
    caption-side:top;
    text-align:center;
    border-bottom:solid 1px #ccc;
}

.phases caption {
    margin: 1.2rem 0 .5rem 0;
}

@media (max-width:812px) {
    div.flex-box{
        flex-direction:column;
    }
    .sun {
    border-bottom: solid 1px #ccc;
}

.moon {
    border-top: solid 1px #ccc;
    }
}