<tr class="diveRows <!--TODAYSDATE-->">
	<td class="dateCell"><!--DATE--></td>
	<td class="timesCell"><!--HIGHTIDE_AM--></td>
  <td class="timesCell"><!--HIGHTIDE_PM--></td>
  <td class="attributesCell"><!--ATTRIBUTES--></td>
</tr>