<!--
  Main Table Template for tide-tables
  This is what is displayed when the shortcode is used.
-->

<!--HEADER-->

<table class="tideTable" >
	<thead>
		<tr>
			<th rowspan="2" class="tideTableHeader dateHeader" >Date</th>
			<th colspan="2" class="timeHeader" >High Tide</th>
			<th class="timeHeader" ></th>
		</tr>

		<tr class="tideTimesHeader" >
			<th class="tideTableHeader AMHeader" >AM</th>
			<th class="tideTableHeader PMHeader" >PM</th>
			<th class="tideTableHeader attributesHeader" ></th>
		</tr>
	</thead>
	<tbody>
    <!--TABLE-->
	</tbody>
</table>

